kubeconfig
.env
__pycache__/
*.pyc
*.pyo
.DS_Store
.pytest_cache/
reports/**/*.html
reports/**/*.json
reports/**/*.xml
reports/**/*.png
reports/**/*.webm
!reports/screenshots/.keep
reports/logs/*
!reports/logs/.keep
test-results/
reports-*
plus_metadata.json
allure-results/*
screenshots/*
